$font-stack: 'anton', sans-serif
$shadow: 2px 2px black

#mainHeader
    height: 420px
    background: url(../img/header1.png)
    background-size: cover
nav
    text-align: center
    padding-top: 30px
    color: white

    a
        display: inline-block
        margin:
            right: 10px
            left: 10px
        text-transform: uppercase
        text-shadow: $shadow
        letter-spacing: 0.1em
        color: white
        font:
            family: $font-stack
            size: 28px
            weight: 700
            
       
        
        &:visited
            color: white
            text-decoration: none
            
        &:hover
            color: #451a72
            text-decoration: none
                
       
           

h1
    padding-top: 100px
    text-align: center
    text-shadow: $shadow
    font:
        size: 72px
        weight: 700
        family: $font-stack
    color: white
    text-transform: uppercase 
    margin-bottom: 20px
    clear: both
    

    span 
        display: inline-block
        padding: 0.5em
        border: white solid 10px
        margin-top: 60px
        

.lead
    text-align: center
    text-shadow: $shadow
    font:
        family: $font-stack
        size: 16px
    
    color: white
    letter-spacing: 0.4em
